body {
    background-color:rgb(207, 131, 169);
}
.bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: center;
}
.materialboxed{
    position: absolute;
    left: 3%;
    bottom: 2%;
}
.footerFixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
}
.crystalrylogo{
    left: 50%;
}
.navbar,.nav-extended,.tabs{
    background-color: rgba(0, 0, 0, 0.4);
}
/* video background trial */
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('https://www.youtube.com/watch?v=XqAZdVsvlBI') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}
  